.header{
    height: 50px;
}

.main{
    height: calc(100vh - 50px);
    background-color: rgb(162, 0, 255);
}

#sidebar{
    background-image: url("../img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg-dark-custom{
    background-color: #0a1e34;
}

.form-control{
    background-color: #e9ecef;
}

@media screen and (max-width: 992px) {
    .col-1 .fa-solid{
        padding: 4px;
    }
}