.header{
    height: 50px;
}

.main{
    height: calc(100vh - 50px);
    overflow-y: auto;
}

#sidebar{
    background-image: url("../img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg-dark-custom{
    background-color: #0a1e34;
}

.form-control{
    background-color: #e9ecef;
}

@media screen and (max-width: 992px) {
    .col-1 .fa-solid{
        padding: 4px;
    }
}

.fs1{
    font-size: 12px;
}

.fs2{
    font-size: 15px;
}

.bg-bl-op{
    background-color: rgba(0, 0, 0, 0.2);
}

.text-badge{
    font-size: 9px; 
}

